<html>
	<head>
		<title></title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="js/privateapp.js"></script>
	</head>
	<body>
		<div id="container" class="container"></div>
		<div>
			<textarea name="message" id="message" cols="20" rows="15"></textarea>
			<input id="send" type="submit" value="Send Message">
		</div>
	</body>
</html>
